
<h1>Bookmark Manager</h1>

<h3>Delete Bookmark:</h3>

<form action="/delete_bookmark" method="post"> #/delete_title
  <p>Insert title to delete: </p>
  # <input type='hidden' name="_method" value="DELETE">
  <input type="text" name="delete_title"> 
  <input type="submit" value="Delete">
</form>

<form action="/" method="get">
<input type="submit" value="Home">
</form>
