
<h1>Bookmark Manager</h1>

<p>Add bookmark: </p>
<form action="/add_bookmark" method="post">
  <p>Insert title: </p>
  <input type="text" name="title"> 
  <p>Insert url: </p>
  <input type="text" name="bookmark"> 
  <input type="submit" value="Add">
</form>

#ADD LIST HERE 