
<h1>Bookmark Manager</h1>

<h3>Update Bookmark:</h3>

<form action="/update_bookmark" method="post"> #/delete_title
  <p>Insert title to update: </p>
  <input type="text" name="target_title"> 
  # <input type='hidden' name="_method" value="DELETE">
  <p>Insert Updated Title: </p>
  <input type="text" name="update_title"> 
  <p>Insert Updated URL: </p>
  <input type="text" name="update_url"> 
  <input type="submit" value="Update">
</form>
